.login-container {
  max-width: 28rem;
  height: 100vh;
  margin: 0 auto;
  padding: 0;
  display: flex;
}
.card__shadow {
  height: 32rem;
  max-width: 28rem;
  box-shadow: 0 6px 12px 0 rgba($color: #000000, $alpha: 0.12);
  top: calc(50% + 10px);
  left: calc(50% + 10px);
  transform: translate(-50%, -50%);
}
.register__shadow {
  height: 561px;
}
.card {
  width: 100%;
  padding: 20px;
  box-shadow: 6px 0 12px 0 rgba($color: #000000, $alpha: 0.12);
  &__item {
    z-index: 1;
  }
  &__title {
    font-size: 2.25rem;
  }
  &__text {
    font-size: 18px;
  }
  &__field-group {
    width: 100%;
    position: relative;
    background: #EDF2F7;
  }
  &__input-field {
    outline: 0;
    border: 2px solid transparent;
    border-bottom: 2px solid $primary;
    padding: 10px;
    padding-left: 60px;
    background: transparent;
    &::placeholder {
      color: #999;
    }
    &:focus {
      border-bottom: 2x solid $primary;
    }
  }
  .icon {
    position: absolute;
    left: 0;
    top: 0;
    width: 60px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #999;
  }

}
